* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;/
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn_reset {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #0095DD;
    color: white;
    cursor: pointer;
    margin: 0 auto;
}